<?php

	// !-----> Config Instancji 1 <-----! //
	
	$config[1]['connection'] =  array(
		
		'server_ip' => '',  // IP serwera ts3
		
		'voice_port' => 9987, // Port Teamspeak - domyślny 9987
		
		'query_port' => 10011, // Port Query - domyślny 10011
		
		'query_login' => 'serveradmin', // Login Query - domyślny serveradmin
		
		'query_password' => '', // Hasło do Query
		
		'bot_name' => '[ GBot ] Pracownik', // Nazwa z która ma wejść bot
		
		'join_to_channel' => 110, // Kanał na którym ma siedzieć bot

		'name' => 'First', // (proszę nie zmieniać)
		
	);
	
	
	$config[1]['save_log'] = array(
	
		'enabled' => true, // włączone - true / wyłączone - false (funkcja logów)
		
	);

	$config['mysql'] = array(
		'host' => 'localhost', // IP do mysql
		'login' => 'root', // login do mysql
		'password' => '', // hasło do mysql
		'database' => '',  // nazwa tabeli
	);

	$config[1]['functions'] = array(


		/* Wysyłanie wiadomości do użytkownika przy wejściu nna serwer */
		'connectMessage' => array(
			'enabled' => true, // włączone - true / wyłączone - false
			'message' => array(
				'Witaj [nickname]',
				'Na serwerze jest online [online] osób!',
				'Połączyłeś się z kraju [country]',
				'Za działanie na szkodę serwera zostaniesz zablokowany!'
			),
			'require' => array('clientList','serverInfo'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 0,'seconds' => 1),
		),
		/* Wysyłanie wiadomości do użytkownika z informacją o ataku na serwer  */
		'ddosInformation' => array(
			'enabled' => false, // włączone - true / wyłączone - false
			'functions' => array(
				'virtualserver_total_ping' => array(
					'threshold' => 200, // granica przy jakiej ma informować!
					'groups' => array(11,12,13), // grupy do których ma wysyłać wiadmość
					'message' => array(
						'Drogi administratorze wykryłem wysoki Ping.',
						'Ping: [ping]',
						'Ilość utraconych pakietów: [packet_lost]%',
					),
				),
				'virtualserver_total_packetloss_speech' => array(
					'threshold' => 30*100, //granica przy jakie ma informować
					'groups' => array(11,12,13), // grupy do których ma wysyłać wiadmość
					'message' => array(
						'Drogi administratorze wykryłem wysoke Pakiety.',
						'Ping: [ping]',
						'Ilość utraconych pakietów: [packet_lost]%',
					),
				),
			),
			'require' => array('clientList','serverInfo'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 1,'seconds' => 0), // Optymalny czas: 1 min
		),

		/* Funkcja służąca do generowania na kanale ilości administratorów online  */
		'adminsOnline' => array(
			'enabled' => true, // włączone - true / wyłączone - false 
			'admin_groups' => array(11,12,13), // akceptowane rangi
			'channel_name' => '» Dostępne osoby z zepsołu [online] osoba/y', // nazwa kanału
			'channel_description' => '[center][size=15] [B]Administratorów Online[/B][/size][/center][list]',
			'channel_id' => 88, // id kanału
			'require' => array('clientList'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 5,'seconds' => 0), // Optymalny czas: 5min
		), 

		/* Obsługa centrum pomocy, pokowanie administracji  */
		'help_center' => array(
			'enabled' => true, // włączone - true / wyłączone - false 
			'channels' => array(
				87 => array(12,11), // id kanału / id grupy
			),
			'require' => array('clientList'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 0,'seconds' => 3), // Optymalny czas: 5sek
		),


		/* Funkcja służaca do generowania listy administracji  */
		'adminList' => array(
			'enabled' => true, // włączone - true / wyłączone - false
			'admin_groups' => array(11,12,13), // akceptowane rangi
			'channel_id' => 75, // id kanału
			'channel_description' => '[center][size=15] [B]Lista administracji[/B][/size][/center]\n',
			'client_afk' => 120, // po jakim czasie ma pokazywać że użytkownik jest afk ( sek )
			'require' => array('clientList','serverGroupList'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 1,'seconds' => 0) // Optymalny czas: 1-5 min
		),
		
		/* Funkcja służaca do wypisywania statusy administratora na kanale  */
		'adminStatusOnChannel' => array(
			'enabled' => true,   // włączone - true / wyłączone - false
			'admin_groups' => array(11,12,13), // akceptowane rangi
			'channels' => array(
				/* dbid użytkownika */ 3 => array( 
					'channel_id' => 70, // id kanału
					'show' => '» Status: [status]', // nazwa kanału [status]
				),
				70 => array( 
					'channel_id' => 262, // id kanału
					'show' => '» Status: [status]', // nazwa kanału [status]
				),
			),
			'require' => array('clientList'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 1,'seconds' => 0) // Optymalny czas: 1min
		),


		/* Funkcja służaca do wypisywania na kanale osób z innego kraju niż PL  */
		'otherCountry' => array(
			'enabled' => true, // włączone - true / wyłączone - false
			'channel_id' => 290, // id kanału
			'channel_name' => '◦ Osób z innych krajów: [number]', // nazwa kannału [number]
			'channel_description' => '[center][size=15] [B]Osoby z innych krajów[/B][/size][/center][list]', // opis kanału
			'require' => array(),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 1,'seconds' => 0) // Optymalny czas: 1min
		),

		/* Funkcja służąca do nadawania rangi na danym kanale */
		'channelGroup' => array(
			'enabled' => true, // włączone - true / wyłączone - false
			'channels' => array(
				93 => array('group' => 19,'timeSpent' => 120,'connections' => 2),	/* id kanału / id rangi  */
				94 => array('group' => 43,'timeSpent' => 120,'connections' => 2),	/* id kanału / id rangi  */
			),
			'require' => array('clientList'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 0,'seconds' => 2) // Optymalny czas: 2sek
		),

		/* Nadawanie rangi po określonym czasie */
		'autoRegister' => array(
			'enabled' => true, // włączone - true / wyłączone - false
			'ranks' => array(
				44 => array('timeSpent' => 3600,'connections' => 5,'ignored_ranks' => array(20,21)),	/* id rangi / id rangi  */
			),
			'require' => array('clientList','serverGroupList'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 0,'seconds' => 10) // Optymalny czas: 10sek
		),

		/* Zbieranie statystyk */
		'get_static' => array(
			'enabled' => true, // włączone - true / wyłączone - false
			'require' => array('serverInfo','mysql'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 1,'seconds' => 0) // Optymalny czas: 10sek
		),

		/* wypisywanie statystyk na kanale */
		'static_channel' => array(
			'enabled' => true, // włączone - true / wyłączone - false
				'channel_id' => 183, // id kanały
				'channel_name' => '◦ Boty query zużywają: [mem_usage] MB RAM', // nazwa kanału
				'channel_description' => '[center][size=15] [B]Zużycie ramu przez boty query[/B][/size][/center][list]',
			'require' => array('mysql'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 5,'seconds' => 0) // Optymalny czas: 10sek
		),
		
	);


	// !-----> Config Instancji 2 <-----! //
	
	$config[2]['connection'] =  array(
		
		'server_ip' => '',  // IP serwera ts3
		
		'voice_port' => 9987, // Port Teamspeak - domyślny 9987
		
		'query_port' => 10011, // Port Query - domyślny 10011 
		
		'query_login' => 'serveradmin', // Login Query - domyślny serveradmin
		
		'query_password' => '', // Hasło do Query
		
		'bot_name' => '[ GBot ] Manager', // Nazwa z która ma wejść bot
		
		'join_to_channel' => 110, // Kanał na którym ma siedzieć bot

		'name' => 'Second', // (proszę nie zmieniać)
		
	);
	
	$config[2]['save_log'] = array(
	
		'enabled' => true, // włączone - true / wyłączone - false (funkcja logów)
		
	);
	
	$config[2]['functions'] = array(

		/* Funkcja służąca do edytowania nazwy serwera */
		'ServerName' => array(
			'enabled' => true, // włączone - true / wyłączone - false
			'functions' => array(
				'virtualserver_name' => array(
					'enabled' => true,
					'name' => 'GoldProject.EU |  [online]/[maxslots] | [percent]%', // nazwa serwera
				),
				'virtualserver_welcomemessage' => array(
					'enabled' => false, // włączone - true / wyłączone - false
					'name' => '',
				),
				'virtualserver_hostmessage' => array(
					'enabled' => false, // włączone - true / wyłączone - false
					'name' => '',
				),
				'virtualserver_hostbanner_gfx_url' => array(
					'enabled' => false, // włączone - true / wyłączone - false
					'name' => '',
				),
			),
			'require' => array('serverInfo'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 1,'seconds' => 0) // Optymalny czas: 1min
		),

		/* MultiFuncion */
		'MultiFunction' => array(
			'enabled' => true,
			'functions' => array(
				110 => array( 
					'enabled' => true,
					'channel_name' => '◦ Botów Query: [query]', // nazwa kanału
				),
				111 => array(
					'enabled' => true,
					'channel_name' => '◦ Użytkowników Online [online]', // nazwa kanału
				),
				113 => array(
					'enabled' => true,
					'channel_name' => '◦ PacketLost [packet_lost]%', // nazwa kanału
				),
				112 => array(
					'enabled' => true,
					'channel_name' => '◦ Ping [ping] ms', // nazwa kanału
				),
			),
			'require' => array('serverInfo'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 5,'seconds' => 0) // Optymalny czas: 5min
		),

		/* Funkcja służaca do wypisywania największej ilośći użytkowników na serwerze */
		'RecordOnline' => array(
			'enabled' => true, // włączone - true / wyłączone - false
			'channel_name' => '◦ Rekord Online na serwerze: [record] ', // nazwa kanału
			'channel_description' => '[center][size=15] [B]Rekord Użytkowników Online[/B][/size][/center] \n[size=8] [B]Największa ilość osób na serwerze:[/B] [color=green][record][/color] \n[B]Rekord został ustanowiony:[/B] [color=#a26c00][date][/color][/size] \n',
			'channel_id' => 114, // id kanału
			'require' => array('serverInfo','mysql'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 0,'seconds' => 10) // Optymalny czas: 10sek
		),

		/* Funkcja służaca do wypisywania największej ilośći użytkowników na kanale */
		'NewUserToday' => array(
			'enabled' => true, // włączone - true / wyłączone - false
			'channel_name' => '◦ Nowych Użytkowników: [count] osób', // nazwa kanłu
			'channel_id' => 115, // id kanału
			'require' => array('clientList','mysql'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 0,'seconds' => 10) // Optymalny czas: 10sek
		),

		/* Poziomy */
		'Levels' => array(
			'enabled' => true,
			'ranks' => array(
				70 => array('timeSpent' => 3600,'connections' => 20),	/* id rangi / id rangi  */
				71 => array('timeSpent' => 7200,'connections' => 30),
				72 => array('timeSpent' => 14400,'connections' => 40),
				73 => array('timeSpent' => 28800,'connections' => 50),
				74 => array('timeSpent' => 57600,'connections' => 60),
				75 => array('timeSpent' => 115204,'connections' => 70),
				76 => array('timeSpent' => 230408,'connections' => 80),
				77 => array('timeSpent' => 460816,'connections' => 90),
				78 => array('timeSpent' => 921632,'connections' => 100),
				79 => array('timeSpent' => 1000000,'connections' => 110),
			),
			'ignored_ranks' => array(20,21),
			'require' => array('clientList','serverGroupList','mysql'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 0,'seconds' => 10) // Optymalny czas: 10sek
		),
		/* Funkcja służąca do generowania TOPEK */
		'TopGenerator' => array(
			'enabled' => true,
			'functions' => array(
				'clientConnections' => array(
					'enabled' => true, // włączone - true / wyłączone - false
					'channel_id' => 57, // id kanału
					'channel_description' => '[center][size=15] [B]Top [limit] Połączeń[/B][/size][/center] \n[size=10]',
					'limit' => 15, // limit wyświetlania 
				),
				'clientTime' => array(
					'enabled' => true, // włączone - true / wyłączone - false
					'channel_id' => 58, // id kanału
					'channel_description' => '[center][size=15] [B]Top [limit] Najdłuższych Połączenia[/B][/size][/center] \n[size=10]',
					'limit' => 15, // limit wyświetlania 
				),
				'clientTimeSpent' => array(
					'enabled' => true, // włączone - true / wyłączone - false
					'channel_id' => 55, // id kanału
					'channel_description' => '[center][size=15] [B]Top [limit] Spędzonego Czasu[/B][/size][/center] \n[size=10]',
					'limit' => 15, // limit wyświetlania
				),
				'clientAFK' => array(
					'enabled' => true, // włączone - true / wyłączone - false
					'channel_id' => 116,  // id kanału
					'channel_description' => '[center][size=15] [B]Top [limit] AFK[/B][/size][/center] \n[size=10]',
					'limit' => 15, // limit wyświetlania
				),
			),
			'require' => array('mysql'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 5,'seconds' => 0) // Optymalny czas: 1-5 min
		),
		/* Funkcja służąca do zapisywania danych z TOPEK */
		'TopStatistic' => array(
			'enabled' => true, // włączone - true / wyłączone - false 
			'timeAFK' => 120, // czas AFK
			'ignored_ranks' => array(20,21), // ignorowane gurpy
			'require' => array('clientList','mysql'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 1,'seconds' => 0) // Musi być 1 min!
		),
		/* Funkcja służąca do tworzenia nowych kanałów publicznych */
		'PublicMonitor' => array(
			'enabled' => true,
			'channels' => array(
				104 => array(
					'channel_name' => '◦ Kanał - Bez Limitu #[number]',
					'channel_description' => 'Tutaj opis kanału',
					'CHANNEL_FLAG_PERMANENT' => 1,
				),
				105 => array(
					'channel_name' => '◦ Kanał - MAX2 #[number]',
					'channel_description' => 'Tutaj opis kanału',
					'CHANNEL_FLAG_PERMANENT' => 1,
					'channel_maxclients' => 2,
					'channel_maxfamilyclients' => 2,
					'channel_flag_maxclients_unlimited' => 0,
					'channel_flag_maxfamilyclients_unlimited' => 0,
				),
				106 => array(
					'channel_name' => '◦ Kanał - MAX3 #[number]',
					'channel_description' => 'Tutaj opis kanału',
					'CHANNEL_FLAG_PERMANENT' => 1,
					'channel_maxclients' => 3,
					'channel_maxfamilyclients' => 3,
					'channel_flag_maxclients_unlimited' => 0,
					'channel_flag_maxfamilyclients_unlimited' => 0,
				),
				107 => array(
					'channel_name' => '◦ Kanał - MAX4 #[number]',
					'channel_description' => 'Tutaj opis kanału',
					'CHANNEL_FLAG_PERMANENT' => 1,
					'channel_maxclients' => 4,
					'channel_maxfamilyclients' => 4,
					'channel_flag_maxclients_unlimited' => 0,
					'channel_flag_maxfamilyclients_unlimited' => 0,
				),
				108 => array(
					'channel_name' => '◦ Kanał - MAX5 #[number]',
					'channel_description' => 'Tutaj opis kanału',
					'CHANNEL_FLAG_PERMANENT' => 1,
					'channel_maxclients' => 5,
					'channel_maxfamilyclients' => 5,
					'channel_flag_maxclients_unlimited' => 0,
					'channel_flag_maxfamilyclients_unlimited' => 0,
				),
			),
			'require' => array('channelList'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 0,'seconds' => 1) // Optymalny czas: 10sek
		),

		/* Osoby online z grupy premium */
		'guildOnline' => array(
			'enabled' => true, // włączone - true / wyłączone - false
			'guilds' => array(
				0 => array('channel_id' => 59,'channel_name' => '[rspacer]» Online z [name]: [online]/[max]','group_id' => 82),
			),
			'channel_description' => '[center][size=15] [B]Gildia [name] ([online]/[max]) [/B][/size][/center][list]',
			'require' => array('clientList'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 1,'seconds' => 0) // Musi być 1 min!
		),

		/* Nadawanie rangi gildi */
		'guildsRank' => array(
			'enabled' => true, // włączone - true / wyłączone - false
			'guilds' => array(
				0 => array('channel_id' => 61,'group_id' => 82),
			),
			'default_channel_group' => 8, // jaką ma nadwać rangę kanałową po zabraniu rangi
			'require' => array('clientList'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 0,'seconds' => 3) // Musi być 1 min!
		),

		/* Zbieranie statystyk */
		'get_static' => array(
			'enabled' => true,
			'require' => array('serverInfo','mysql'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 1,'seconds' => 0) // Optymalny czas: 10sek
		),

	);

	// !-----> Config Instancji 3 <-----! //
	
	$config[3]['connection'] =  array(
		
		'server_ip' => '',  // IP serwera ts3
		
		'voice_port' => 9987, // Port Teamspeak - domyślny 9987
		
		'query_port' => 10011, // Port Query - domyślny 10011
		
		'query_login' => 'serveradmin', // Login Query - domyślny serveradmin
		
		'query_password' => '', // Hasło do Query
		
		'bot_name' => '[ GBot ] ChannelManager', // Nazwa z która ma wejść bot
		
		'join_to_channel' => 110, // Kanał na którym ma siedzieć bot

		'name' => 'Third', // (proszę nie zmieniać)
		
	);
	
	
	$config[3]['save_log'] = array(
	
		'enabled' => true,
		
	);
	
	$config[3]['functions'] = array(

		/* Tworzenie wolnych kanałów prywatnych */
		'ChannelGuard' => array(
			'enabled' => true,
			
			'channel_creator' => array(
				'channel_Section' => 150, // sekcja kanałów prywatnych 

				'free_channel_name' => 'Kanał Wolny',
				'free_channel_description' => 'Opis kanału',

				'sub_channels' => 3, // ilośc sub-kanałów
				'name_sub_channel' => 'Podkanał', // nazwa sub-kanału
				'description_sub_channel' =>  'Opis sub-kanału', // opis sub-kanału

				'head_channel_admin_group' => 5,
				'minimum_channel' => 3, //ilośc kanałów która ma byc wolna
			),

			'channel_scanner' => array(
				'delete_channel' => 32, // po ilu dniach niekatywności właściciela ma usunąć kanał
			),

			'require' => array('channelList','mysql','clientList'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 1,'seconds' => 0) // Optymalny czas: 30min
		),
		/* tworzenie kanału prywatnego po wejściu na odpowiedni kanał */
		'GetPrivateChannel' => array(
			'enabled' => true, // włączone - true / wyłączone - false
			'need_ranks' => array(), // wymagana ranga aby móc stworzyć kanał prywatny
			'channel_description' => '[center][size=15] [B]Kanał [owner_url] [/B][/size][/center] \n[B]Właściciel: [/B] [owner_url] \n [b]Stworzony: [/b] [date] [hr][right][img]https://goldproject.eu/img/logo/logocolor.png[/img]',
			'getChannel_id' => 95, // id kanału od nadawania kanału prywatnego
			'require' => array('channelList','clientList','mysql'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 0,'seconds' => 3) // Optymalny czas: 30min
		),

		/* Zbieranie statystyk */
		'bannerGenerator' => array(
			'enabled' => true, // włączone - true / wyłączone - false
			'img_for_create' => 'banner/img/banner.png', // ścieżka do obrazka
			'save_banner' => '/var/www/html/test.png', // miejsce zapisów banneru
			'font_banner' => 'banner/font/Karma-Bold.ttf', // scieżka do czcionki
			'admin_groups' => array(11,12,13), // id rang administratorów 
			'banner' => array(
				'time' => array(30,380,310), //size x y
				'online' => array(30,822,310), //size x y
				'admins' => array(30,590,310), //size x y
			),
			'require' => array('serverInfo','clientList'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 1,'seconds' => 0) // Optymalny czas: 1 min
		),

		/* Zbieranie statystyk */
		'get_static' => array(
			'enabled' => true, // włączone - true / wyłączone - false
			'require' => array('serverInfo','mysql'),
			'interval' => array('days' => 0,'hours' => 0,'minutes' => 1,'seconds' => 0) // Optymalny czas: 10sek
		),

	);
	
?>
